<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886289283374-5314bbsevmnqtm7cq24nqre3d4bv1v7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886289283374-5314bbsevmnqtm7cq24nqre3d4bv1v7g</string>
	<key>API_KEY</key>
	<string>AIzaSyBXyLYRExRVyVJB-Nb788Ve3orq-TOBUjI</string>
	<key>GCM_SENDER_ID</key>
	<string>886289283374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messager.messager</string>
	<key>PROJECT_ID</key>
	<string>messager-dc804</string>
	<key>STORAGE_BUCKET</key>
	<string>messager-dc804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886289283374:ios:f95ea00ae1c89d1dd562bf</string>
</dict>
</plist>